<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;">
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Evercam.io</title>
</head>
<body bgcolor="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">
<style type="text/css">
  @media only screen and (max-width: 600px) {
    a[class="btn"] {
      display: block !important; margin-bottom: 10px !important; background-image: none !important; margin-right: 0 !important;
    }
    div[class="column"] {
      width: auto !important; float: none !important;
    }
    table.social div[class="column"] {
      width: auto !important;
    }
  }
  @media only screen and (max-width: 480px){
    .logo{
      max-width:28% !important;
      max-width:175px !important;
    }
  }
</style>
<!-- HEADER -->
<table class="head-wrap" bgcolor="#f5f5f5" style="width: 100%; margin: 0; padding: 0;">
  <tr style="margin: 0; padding: 0;">
    <td style="margin: 0; padding: 0;"></td>
    <td class="header container" style="display: block !important; clear: both !important; margin: 0 auto; padding: 0;">
      <div class="content" style="display: block; margin: 0 auto; padding: 15px;">
        <table bgcolor="#f5f5f5" style="width: 100%; margin: 0; padding: 0;">
          <tr style="margin: 0; padding: 0;text-align:center;">
            <td style="margin: 0; padding: 0;">
              <img src="https://www.evercam.io/img/logo.png" class="logo" style="max-width:28%;max-width:175px; padding-top:10px;margin:0;">
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td style="margin: 0; padding: 0;"></td>
  </tr>
</table>
<!-- /HEADER -->
<!-- BODY -->
<table class="body-wrap" style="font-family: Arial, Helvetica, sans-serif; width: 100%; margin: 0; background-color:#f5f5f5; padding: 0;">
  <tr style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;"><td style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif; display: block !important; border-radius:3px; clear: both !important; margin: 0 auto; padding: 0;">

      <div class="content" style="font-family: Arial, Helvetica, sans-serif; display: block; margin: 0 auto; padding: 15px;">
        <table style="font-family: Arial, Helvetica, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;">
          <td style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; margin: 0; padding: 0;">

            <p class="lead" style="line-height: 1.6; margin: 0 0 10px; padding: 0;">Hello from Evercam,</p>
            <p style="line-height: 1.6; margin: 0 0 10px; padding: 0;"><strong><%= User.get_fullname(@archive.user) %></strong> your clip <strong><%= @archive.title %></strong> for camera <%= @archive.camera.name %> is ready.</p>

            <p style="line-height: 1.6; margin: 0 0 10px; padding: 0;">To access this clip, you will need to click on the link below.</p>
            <!-- Callout Panel -->
            <p class="callout" style="color:#428bca; line-height: 1.6; background: #f5f5f5;  margin: 0 0 15px; padding: 15px;">
              <a style="color:#428bca; text-decoration:none;" href="https://dash.evercam.io/v1/cameras/<%= @archive.camera.exid %>/archives">
                https://dash.evercam.io/v1/cameras/<%= @archive.camera.exid %>/archives
              </a>
            </p><!-- /Callout Panel -->
            <%= if @thumbnail_available do %>
              <br>
              <img src="cid:snapshot.jpg" alt='Camera Preview' style="width: 100%; display:block; margin:0 auto;" >
            <% end %>
            <br>
            <p style="line-height: 1.6; margin: 0 0 10px; padding: 0;">We greatly appreciate any feedback, so if you have any suggestions or if there is anything we can do to improve your Evercam experience, please let us know.</p>
            <p style="line-height: 1.6; margin: 0 0 0px; padding: 0;">The Evercam Team</p>
            <p style="color:#aaaaaa; line-height: 1.0; margin: 0 0 10px; padding: 0;"><a href="#" style="text-decoration:none; color:#aaaaaa;">support@evercam.io</a></p>
            <br>

          </td>
        </tr></table></div><!-- /content -->

    </td>
    <td style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;"></td>
  </tr>
</table>
<!-- /BODY -->
<!-- FOOTER -->
<table class="footer-wrap" style="background-color:#f5f5f5; font-family: Arial, Helvetica, sans-serif; width: 100%; clear: both !important; margin: 0; padding: 0;">
  <tr style="margin: 0; padding: 0;"><td style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;"></td>
    <td class="container" style="text-align:center; display: block !important; clear: both !important; margin: 0 auto; padding: 0;">
      <p style="color:#aaaaaa; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.0; margin: 10px 0 40px; padding: 0;">
        <a href="https://play.google.com/store/apps/details?id=io.evercam.androidapp&hl=en" style="text-decoration: none;"><img src="http://evercam.io/img/google_play_download.png" width="150" height="49"/></a>&nbsp;&nbsp;&nbsp;
        <a href="https://itunes.apple.com/ie/app/evercam-play-ip-camera-viewer/id983189658?mt=8" style="text-decoration: none;"><img src="http://evercam.io/img/app-ios-icon.png" width="150" height="49"/></a>
      </p>
    </td>
  </tr>
  <tr style="margin: 0; padding: 0;"><td style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;"></td>
    <td class="container" style="text-align:center; display: block !important; clear: both !important; margin: 0 auto; padding: 0;">
      <p style="color:#aaaaaa; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.0; margin: 10px 0 40px; padding: 0;">&copy; <%= @year %> <a href="http://www.evercam.io" style="color:#428bca;text-decoration: none;">www.evercam.io</a></p>
    </td>
  </tr>
</table>
<!-- /FOOTER -->
</body>
</html>
