Hi <%= full_name(@user) %>,

Welcome to Evercam and thanks for creating an account.

You can complete the sign-up process by following the url below to verify your email address:

https://dashboard.evercam.io/confirm?u=<%= @user.username %>&c=<%= @code %>

We greatly appreciate any feedback, so if you have any suggestions or if there is anything we can do to improve your Evercam experience, please let us know.

Thanks again for joining us,

The Evercam Team
support@evercam.io
