Hi,

Your camera "<%= @camera.name %>" came back online.

Click on the link below to access this camera.

https://dash.evercam.io/v1/cameras/<%= @camera.exid %>

We greatly appreciate any feedback, so if you have any suggestions or if there is anything we can do to improve your Evercam experience, please let us know.

Thanks again for joining us,

The Evercam Team
support@evercam.io
