# Mix artifacts
/_build
/deps
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building js and css from web/static,
# we ignore priv/static/{css,js}. You may want to
# comment this depending on your deployment strategy.
/priv/static/

# Ignore compiled code for motion detection
/priv_dir/lib_elixir_motiondetection.so

# Evercam specific files
.env
rel
tmp
