# Mix artifacts
/_build
/deps
/doc
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Ignore compiled code for motion detection
/priv_dir/lib_elixir_motiondetection.so

# Ignore mailgun emails made in dev/test environment
/priv_dir/mailgun_test.json

# Evercam specific files
.env
rel
tmp
storage
